@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Oswald:wght@400;500;700&family=Poppins:wght@300;400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px !important;
}
body {
  font-family: "Oswald";
  letter-spacing: 0.2rem;
  background-color: black;
  color: white;
  scroll-behavior: smooth;
}
.centre-line {
  position: absolute;
  left: 50%;
  min-height: 75vh;
  width: 0.8rem;
  background-color: red;
}
.gsp {
  color: red;
}
/* ------navbar------- */
nav {
  opacity: 0.9;
  min-height: 10rem;
  max-width: 95%;
  padding: 0.3rem 0.2rem 0.1rem 0.2rem;
  z-index: 2;
  font-size: 2rem;
  font-weight: 800;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.nav-left {
  min-width: 50%;
  /* background-color: green; */
  padding-left: 10%;
}
.nav-right {
  font-size: 1.5rem;
  /* background-color: yellow; */
  display: inline-flex;
  min-width: 50%;
}
.ul {
  position: relative;
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
li {
  list-style: none;
}

li a {
  color: white;
  text-decoration: none;
}
.menu {
  /* background-color: beige; */
  cursor: pointer;
  position: relative;
  right: 0.5rem;
}
.menu a {
  color: red;
}
/* -------------MAIN----------- */
.main p {
  font-style: bold;
  font-weight: 600;
  opacity: 0;
}
.content {
  /* background-color: yellow; */
  font-size: 5rem;
  min-height: 80vh;
  opacity: 0.8;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
}
.img-container {
  margin-left: 10rem;

  font-weight: 500;
  width: 50%;
  position: relative;
  /* background-color: red; */
}
.left {
  min-width: 50rem;
  /* background-color: white; */
  color: red;
  position: relative;
  left: -50rem;
}
.right {
  text-align: right;
  /* background-color: white; */
  color: red;
  position: relative;
  right: -50rem;
}
.fst {
  font-size: 8rem;
  color: red;
}
.fst-rem {
  color: white;
}
.text {
  padding: 2rem;
  min-width: 40%;
  /* opacity: 0.8; */
}
.text .welcome {
  /* padding-left: 100px; */
  font-size: 8rem;
  opacity: 0.6;
  font-weight: 600;
  /* background-color: blueviolet; */
}
.text .welcome-2 {
  font-size: 8rem;
  font-weight: 600;
}
.main {
  margin-top: 0.5rem;
  width: 60%;

  /* background-color: orange; */
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  opacity: 0.8;
}
#scroll {
  margin: 1rem;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  /* background-color: white; */
}
.iam {
  margin-top: 3rem;
  font-size: 5rem;
  opacity: 0.6;
}
.a-div {
  min-height: 20%;
  font-size: 3rem;
  /* background-color: beige; */
  margin-top: 5rem;
}
.k-div {
  width: 60rem;
  /* background-color: green; */
  font-size: 3rem;
}
footer {
  height: 5rem;
  font-weight: 500;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  opacity: 0.6;
}
.footer-left {
  width: 50%;
  /* background-color: yellow; */
  padding: 50px;
}
.footer-left a {
  cursor: pointer;
}
.footer-right {
  position: relative;
  /* background-color: olivedrab; */
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}
.footer-right a {
  color: white;
  font-size: 2rem;
  margin: 30px;
}
.img-2 {
  margin: 50px;
  /* background-color: red; */
  position: relative;
  max-width: 30%;
  max-height: 70vh;
  border-radius: 10%;
  opacity: 0;
}

.img-2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}
/* }
----------------MEDIA QUERIES----------- */
@media (max-width: 1000px) {
  .fst,
  .welcome,
  .welcome-2 {
    font-size: 6rem !important;
  }
}
@media (max-width: 820px) {
  .centre-line {
    display: none;
  }
  .content {
    font-size: 8rem;
    max-height: 40vh;
    /* background-color: violet; */
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .img-container {
    align-self: center;

    padding: 3rem 3rem;
    margin-left: 0;
    min-width: 100%;
    /* background-color: blue; */
    min-height: 40%;
    text-align: center;
  }
  #scroll {
    display: flex;
    flex-direction: column;
    justify-content: space-between !important;
    /* background-color: yellow; */
    min-height: 100vh;
  }
  .img-2 {
    max-height: 40%;
  }
  .img-2 img {
    overflow: hidden;
  }
  .main {
    align-self: center;
    margin-top: 1rem !important;
    margin: 2rem;
    min-width: 80%;
    /* background-color: blue; */
  }
  footer {
    margin: 1rem;
    min-width: 90%;
    min-height: 20rem;
    /* background-color: orange; */
    position: absolute !important;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }
  .footer-left,
  .footer-right {
    min-width: 100% !important;
  }
}
@media (max-width: 768px) {
  /* Styles for screens up to 768px (e.g., tablets and large phones) */
  nav {
    display: flex;
    flex-direction: column;
  }
  .nav-left {
    align-self: center;
    margin-top: 0.3rem;
    padding: 0.2rem;
    /* background-color: #fff; */
  }
  .nav-right {
    min-width: 90%;
  }
  .gsp {
    margin-left: 30%;
  }
  .content {
    /* background-color: green; */
    max-height: 80vh;
  }

  .text {
    font-size: 1.5rem;
    display: block;
    text-align: center;
    /* background-color: yellow; */
    padding-left: 0;
  }

  .main {
    margin-top: 40%;
    width: 100%;
  }

  .left {
    font-size: 6rem;
    left: -300px;
  }
  .left,
  .right {
    width: 100%;
    text-align: center;
    position: static;
    transform: none;
  }

  .k-div {
    width: 100%;
  }

  .img-2 {
    margin: 20px;
    min-width: 85%;
    height: 60%;
  }

  .left {
    /* background-color: blue; */
    left: -50px;
  }
}
@media (max-width: 640px) {
  nav {
    display: flex;
    flex-direction: column;
  }

  .nav-right {
    min-width: 90%;
  }
}
@media (max-width: 480px) {
  .fst,
  .welcome,
  .welcome-2 {
    font-size: 4rem !important;
  }

  .nav-left {
    min-width: 80vw;
  }
  /* Styles for screens up to 480px (e.g., small phones) */

  .content {
    /* background-color: green; */
    margin: 2rem;
  }
}
